body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style: none;
  padding-top: 5px;
}




div#Info {
  /* display: inline-block; */
}

h4 {
  padding: 0.3em;
  display: inline-flex;
}
li {
  list-style: none;
  padding-top: 5px;
}


.container {
  
}


div#Info {
  /* display: inline-block; */
}

h4 {
  padding: 0.3em;
  display: inline-flex;
}
